<!DOCTYPE html>
<html lang="pt-BR" class="no-js">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="profile" href="http://gmpg.org/xfn/11">
  <script>(function(html){html.className = html.className.replace(/\bno-js\b/,'js')})(document.documentElement);</script>
  <title><%= title %></title>
  <link rel="alternate" type="application/rss+xml" title="Feed de Johnny Vaz &raquo;" href="feed/" />
  <link rel="alternate" type="application/rss+xml" title="Johnny Vaz &raquo;  Feed de comentários" href="comments/feed/" />
  <link rel='stylesheet' id='animateMin-css'  href='css/animate.min.css' type='text/css' media='all' />
  <link rel='stylesheet' id='this-style-css'  href='css/style.css' type='text/css' media='all' />
  <link rel='stylesheet' id='sitemush-fonts-css'  href='https://fonts.googleapis.com/css?family=Merriweather%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CMontserrat%3A400%2C700%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext' type='text/css' media='all' />
  <link rel='stylesheet' id='genericons-css'  href='css/genericons.css' type='text/css' media='all' />
  <link rel='stylesheet' id='sitemush-style-css'  href='css/1-style.css' type='text/css' media='all' />
  <!--[if lt IE 10]>
    <link rel='stylesheet' id='sitemush-ie-css'  href='css/ie.css' type='text/css' media='all' />
    <![endif]-->
    <!--[if lt IE 9]>
      <link rel='stylesheet' id='sitemush-ie8-css'  href='css/ie8.css' type='text/css' media='all' />
      <![endif]-->
      <!--[if lt IE 8]>
        <link rel='stylesheet' id='sitemush-ie7-css'  href='css/ie7.css' type='text/css' media='all' />
        <![endif]-->
        <link rel='stylesheet' id='mpce-venobox-css-css'  href='css/venobox.css' type='text/css' media='all' />
        <link rel='stylesheet' id='mpce-theme-css'  href='css/theme.css' type='text/css' media='all' />
        <style id='mpce-theme-inline-css' type='text/css'>
          .sm-row-fixed-width{max-width:1170px;}
        </style>
        <link rel='stylesheet' id='mpce-bootstrap-grid-css'  href='css/bootstrap-grid.min.css' type='text/css' media='all' />
        <link rel='stylesheet' id='mpce-font-awesome-css'  href='css/font-awesome.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='js/jquery.js'></script>
        <script type='text/javascript' src='js/jquery-migrate.min.js'></script>
        <script type='text/javascript' src='js/wow.min.js'></script>
        <script type='text/javascript' src='js/main.js'></script>
        <!--[if lt IE 9]>
          <script type='text/javascript' src='js/html5.js'></script>
          <![endif]-->
          <script type='text/javascript' src='js/venobox.min.js'></script>
          <link rel='https://api.w.org/' href='szp-json/' />
          <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc.php?rsd" />
          <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="site-inc/wlwmanifest.xml" /> 
          <meta name="generator" content="SitePad" />
          <link rel="canonical" href="" />
          <link rel='shortlink' href='' />
          <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
        </head>
        
        <body class="home page page-id-6 page-template-default">
          <div id="page" class="site container-fluid">
            <div class="site-inner">
              
              
              <header id="masthead" class="site-header" role="banner">
                <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right menu_row padding_row">
                  <div class="sm-span4 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right logo">
                    <div class="smue-szp_site_title smue-ce-child-detector">
                      <div class="site-title-container">
                        <a href="index.html" >Cadastro</a>
                      </div>
                    </div>
                  </div>
                  <div class="sm-span8 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right menu">
                    <div class="smue-szp_primary_nav smue-ce-child-detector floatright"><i class="fa fa-bars responsive_bar" id="menu-toggle" aria-expanded="false"> </i>  <button class="menu-toggle" id="menu-toggle" aria-expanded="false" aria-controls="site-navigation social-navigation">Menu</button>
                      <div id="site-header-menu" class="site-header-menu">
                        <nav id="site-navigation" class="main-navigation" role="navigation" aria-label="Primary Menu"><div class="menu-header-menu-container"><ul id="menu-header-menu" class="primary-menu"><li id="menu-item-10" class="home menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-6 current_page_item menu-item-10" style="  " ><a href="/" style="  " >Home</a></li>
                        </ul></div></nav><!-- .main-navigation -->
                      </div><!-- .site-header-menu --></div>
                      
                    </div>
                  </div>
                  
                </header><!-- .site-header -->
                <!-- <script language="javascript" type="text/javascript">
                  var cur_page_data = {pageid:"6", pagename:"home"};
                  var cur_themes_url = "http://johnnyvaz.com.br/site-data/themes";
                </script> -->
                <div id="content" class="site-content">
                </div><!-- .content-area -->
              </div><!-- .site-content -->
                    
                  <section id="listarIdeias">
                    <fieldset>
                        <legend> Registros Cadastrados </legend>
                        <table class='table' border="1" id="registros">
                            <tr>
                                <th>Nome</th>
                                <th>Resumo</th>
                                <th>Descrição</th>
                                <th>Tipo</th>
                                <th></th>
                                <th><a class="btn btn-success btn-block" href="/livros/novo">Novo</a></th>
                            </tr>
            
                            <% for(i=0; i<ideias.length; i++) { %>
                            <tr>
                                <td> <%= joh_ideias[i].nome %> </td>
                                <td> <%= joh_ideias[i].resumo %> </td>
                                <td> <%= joh_ideias[i].descricao %> </td>
                                <td> <%= joh_ideias[i].tipo %> </td>
                                <td><a class="btn btn-primary btn-block"
                                        href=<%="/livros/editar/" + livros[i].liv_codigo%>>Editar</a></td>
                                <td><a class="btn btn-danger btn-block"
                                        href=<%="/livros/inativar/" + livros[i].liv_codigo%>>Inativar</a> </td>
            
                            </tr>
                            <% } %>
                        </table>
                    </fieldset>
                </section>              
              
              <footer id="colophon" class="site-footer" role="contentinfo"><div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right contact">
                <div class="sm-span12 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right wow fadeInUp delay_16s contact_heading">
                  <div class="smue-text-obj">
                    <h2 style="text-align: left;">Cadastrar Ideia</h2>
                    <!-- <p style="text-align: left;">Deixe sua mensagem aqui que eu respondo por e-mail, ou passa um watsapp.</p> -->
                  </div>
                </div>
              </div>
              <div class="sm-row-fluid smue-row sme-dsbl-margin-left sme-dsbl-margin-right contact1">
                <div class="sm-span6 smue-clmn  sme-dsbl-margin-left sme-dsbl-margin-right img_col wow fadeInUp delay_18s">
                  
               
                    

              </div>
              
            </div>
            
          </footer><!-- .site-footer -->	</div><!-- .site-inner -->
        </div><!-- .site -->
        
        <link rel='stylesheet' id='mpce-cfa-style-css'  href='css/style.min.css' type='text/css' media='all' />
        <script type='text/javascript' src='js/skip-link-focus-fix.js'></script>
        <script type='text/javascript'>
          /* <![CDATA[ */
          var screenReaderText = {"expand":"expand child menu","collapse":"collapse child menu"};
          /* ]]> */
        </script>
        <script type='text/javascript' src='js/functions.js'></script>
        <script type='text/javascript' src='js/szp-embed.min.js'></script>
        <script type='text/javascript' src='js/jquery.stellar.min.js'></script>
        <script type='text/javascript' src='js/mp-row-parallax.js'></script>
        <script type='text/javascript' src='js/jquery.waypoints.min.js'></script>
        <script type='text/javascript' src='js/mp-waypoint-animations.js'></script>
        <script type='text/javascript' src='js/modernizr.min.js'></script>
        <script type='text/javascript'>
          /* <![CDATA[ */
          var MPCE_CFA_Ajax = {"ajaxurl":"contact.php","security":"fa1bbbadb4","sitekey":"","success":"Mensagem enviada, obrigado!","fail":"opa, n\u00e3o deu certo, tente novamente por favor."};
          /* ]]> */
        </script>
        <script type='text/javascript' src='js/engine.min.js'></script>
        <style id="smue-ce-private-styles" data-posts="" type="text/css"></style></body>
        </html>